.place__image {
  max-width: 100%;
  margin: -125px auto;
}

@media screen and (max-width: 750px) {
  .place__image {
    max-width: 100%;
    margin: -150px auto;
  }
}

@media screen and (max-width: 335px) {
  .place__image {
    max-width: 100%;
    margin: -130px auto;
  }
}

