.opinions__statements {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 60px;
}

@media screen and (max-width: 1024px) {
  .opinions__statements {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
  }
}

@media screen and (max-width: 883px) {
  .opinions__statements {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }
}

@media screen and (max-width: 517px) {
  .opinions__statements {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}
