.place__content {
  grid-row: 1/2;
  grid-column: 2/3;
  background-color: #f2f2f2;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 65px 0 70px 50px;
}

@media screen and (max-width: 880px) {
  .place__content {
    padding: 30px auto;
    gap: 14px;
    justify-content: start;
  }
}

@media screen and (max-width: 550px) {
  .place__content {
    padding: 0;
  }
}

@media screen and (max-width: 320px) {
  .place__content {
    padding: 10px 0 0 10px;
  }
}
