.lead {
  max-width: (100% - 65px - 160px);
  margin: 80px 160px 0 65px;
  display: grid;
  grid-template-columns: 1fr 356px;
  grid-template-areas:
  "texts image";
  column-gap: 170px;
}


@media screen and (max-width: 977px) {
  .lead {
    display: flex;
    flex-direction: column;
    column-gap: 40px;
    margin: 80px 80px 0 65px;
  }
}

@media screen and (max-width: 400px) {
  .lead {
    margin: 30px 0;
  }
}

@media screen and (max-width: 320px) {
  .lead {
    margin: 10px auto;
  }
}
