.opinions__caption {
  margin: 0;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 11px;
  color: #FECFAA;
  margin-bottom: 25px;
}

@media screen and (max-width: 1024px) {
  .opinions__caption {
    font-size: 15px;
    line-height: 1.45;
  }
}

@media screen and (max-width: 768px) {
  .opinions__caption {
    font-size: 17px;
    line-height: 1.45;
  }
}

@media screen and (max-width: 516px) {
  .opinions__caption {
    text-align: center;
    margin: 0 auto;
    padding: 0;
  }
}

@media screen and (max-width: 320px) {
  .opinions__caption {
    font-size: 18px;
    line-height: 1.45;
  }
}
