.opinions__author {
  margin: 0;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 13px;
  color: #000000;
  margin-bottom: 25px;
}

@media screen and (max-width: 1024px) {
  .opinions__author {
    font-size: 15px;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .opinions__author {
    font-size: 18px;
  }
}


@media screen and (max-width: 320px) {
  .opinions__author {
    font-size: 19px;
  }
}
