@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
@import url(../blocks/root/root.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__menu/header__menu.css);
@import url(../blocks/header/__link/header__link.css);
@import url(../blocks/header/__link/__centered/header__link_centered.css);
@import url(../blocks/header/__report/header__report.css);
@import url(../blocks/lead/lead.css);
@import url(../blocks/lead/__title/lead__title.css);
@import url(../blocks/lead/__subtitle/lead__subtitle.css);
@import url(../blocks/lead/__image/lead__image.css);
@import url(../blocks/lead/lead.css);
@import url(../blocks/lead/__texts/lead__texts.css);
@import url(../blocks/lead/__subtitle/lead__subtitle.css);
@import url(../blocks/lead/__title/lead__title.css);
@import url(../blocks/lead/__image/lead__image.css);
@import url(../blocks/places/places.css);
@import url(../blocks/place/place.css);
@import url(../blocks/place/__image/place__image.css);
@import url(../blocks/place/__content/place__content.css);
@import url(../blocks/place/__title/place__title.css);
@import url(../blocks/place/__text/place__text.css);
